.ba-section-feedback{
	background: #E5E5E5;
	padding: 0 0 64px;

	@include breakpoint(large){
		padding: 57px 0 64px;
	}

	.ba-title{
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 0.15px;
		color: #190078;
		margin-bottom: 35px;
	}

	.ba-name{
		font-weight: normal;
		font-size: 14px;
		color: #000000;
	}

	.ba-rating{
		color: #190078;
		font-size: 14px;
	}

	.ba-feedback{
		font-size: 12px;
		letter-spacing: 0.4px;
		color: #000000
	}
}