<header class="ba-header">
	<div class="row column large-8 small-12">
		<div class="ba-header-wrap">
			<a href="index.html"><img class="ba-header-group__logo" src="{{root}}assets/img/logo_header.png"
					alt="Logo"></a>


			<div class="ba-header-advert">
				<a href="#section-search" class="hide-for-small-only  ba-button ba-button--lighter">
					создать объявление
				</a>
				<a href="#section-search" class="ba-header-add hide-for-medium">
					<img src="{{root}}assets/img/add.png" alt="Add">
				</a>
				<a href="#" class="ba-header-registration">
					<img src="assets/img/register.svg" alt="Registration">
				</a>
		</div>
	</div>

	</div>
	<!-- /.row -->
</header>