<section class="ba-section-challenge hide-for-small-only">
	<div class="row">
		<div class="column large-6 large-offset-4">
			<h4 class="ba-title">Доступные челенджи рядом с вами:</h4>
			<div class="ba-challenge">
				<div>
					<a href="#">
						<img src="assets/img/challenge-party.png" alt="Вечеринка в костюмах">
						<h6 class="ba-challenge-title">Вечеринка в костюмах</h6>
					</a>
				</div>
				<div>
					<a href="#">
						<img src="assets/img/challenge-gold.png" alt="Пройти золотую милю">
						<h6 class="ba-challenge-title">Пройти золотую милю</h6>
					</a>
				</div>
				<div>
					<a href="#">
						<img src="assets/img/challenge-hero.png" alt="Последний герой">
						<h6 class="ba-challenge-title">Последний герой</h6>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.ba-section-challenge -->