<section class="ba-section-proffer">
   <div class="row">
      <div class="column large-12">
         <h2 class="ba-title">Возможно для вас будут интересными:</h2>
      </div>
      <div class="column large-8 small-12 large-offset-2">
         <div class="ba-members">
            <a href="single.html">
               <div class="ba-member">
                  <img src="{{root}}assets/img/member-andrew.png" alt="Андрей">
                  <h6 class="ba-person-name">Андрей</h6>
                  <div class="ba-rating">&#9733 &#9733 &#9733 &#9733</div>
                  <p class="ba-interests hide-for-small-only">Интересы:</p>
                  <p class="hide-for-small-only">Политика, технологии</p>
               </div>
               <!-- /.ba-member -->
            </a>
            <a href="single.html">
               <div class="ba-member">
                  <img src="{{root}}assets/img/member-ksenia.png" alt="Ксюша">
                  <h6 class="ba-person-name">Ксюша</h6>
                  <span class="ba-rating">&#9733 &#9733 &#9733 &#9733</span>
                  <p class="ba-interests hide-for-small-only">Интересы:</p>
                  <p class="hide-for-small-only">Спорт, вязание</p>
               </div>
               <!-- /.ba-member -->
            </a>
            <a href="single.html">
               <div class="ba-member">
                  <img src="{{root}}assets/img/member-zina.png" alt="Зинаида">
                  <h6 class="ba-person-name">Зинаида</h6>
                  <span class="ba-rating">&#9733 &#9733 &#9733 &#9733</span>
                  <p class="ba-interests hide-for-small-only">Интересы:</p>
                  <p class="hide-for-small-only">Здоровье, космос</p>
               </div>
               <!-- /.ba-member -->
            </a>
         </div>
      </div>
      <!-- /.column large-8 small-12 -->

   </div>
</section>
<!-- /.ba-section-proffer -->
