<section class="ba-section-about">
   <div class="row">
      <div class="column large-6 hide-for-small-only">
         <img src="{{root}}assets/img/section-about.png"
            alt="Booze Buddy поможет вам устроить праздник с кем, когда и где пожелаете">
      </div>
      <div class="column large-4 small-12 ba-information">
         
            <h2 class="ba-title">Booze Buddy поможет вам устроить праздник с кем, когда и где пожелаете</h2>

            <ul class="ba-about-list">
               <li>Находите новых друзей по интересам</li>
               <li>Устраивайте шумные вечеринки на большую компанию </li>
               <li>Или уютные посиделки с разговором по душам с подходящим человеком</li>
               <li>Организовывайте, а также берите участие в соревнованиях</li>
               <li>Просто веселитесь</li>
            </ul>
         
      </div>
   </div>
</section>