<section class="ba-section-feedback">
	<div class="row">
		<div class="column large-6 large-offset-4">
			<h4 class="ba-title">Отзывы:</h4>
			<div class="row">
				<div class="column large-4">
					<img src="assets/img/andrew-card.png" alt="Andrew">
				</div>
				<div class="column large-7 large-offset-1">
					<h4 class="ba-name">
						Сергей
					</h4>
					<div class="ba-rating">&#9733 &#9733 &#9733 &#9733</div>
					<p class="ba-feedback">Крутой,но быстро стал пьяным. Рассказывал интересные стихи.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- /.ba-section-feedback -->